<div class="section" id="about">
    <div class="container">
      <div class="card" data-aos="fade-up" data-aos-offset="10">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">{{pageHeaders[0]}}</div>
              {{aboutMe.introduction}}
              <br>
              {{aboutMe.bio}}
              <br>
              {{aboutMe.strengthStatement}}
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">{{pageHeaders[1]}}</div>
              <div class="row">
                <div class="col-sm-4">
                  <strong class="text-uppercase">{{basicInfoHeaders[0]}}</strong>
                </div>
                <div class="col-sm-8">{{aboutMe.dateOfBirth}}</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">{{basicInfoHeaders[1]}}</strong>
                </div>
                <div class="col-sm-8">{{aboutMe.email}}</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">{{basicInfoHeaders[2]}}</strong>
                </div>
                <div class="col-sm-8">{{aboutMe.location}}
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">{{basicInfoHeaders[3]}}</strong>
                </div>
                <div class="col-sm-8">{{aboutMe.language}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>